.b3{

	
}
.b6{
	clear: both;
	
}
div{
	
	text-align: justify; 
	padding: 0.5%;
	border: 2px solid yellow;
	border-radius:8px;


}
.b1{

    margin-left: 30%;
	margin-right: 38%;
	

}
img{
	height: 200px;

}
td{
	height: 50px;
	width: 200px;

}
.b7{
	
	

}
.b8{
	
	

}