body
{
   background-color:blue  
}
div
{
	border: 2px solid yellow;
	border-radius:8px;
	padding: 1,5%;
	text-align: justify; 

}
h1,h2
{
	color: red;
	font-family: verdana;
	font-size: 1em;
}
p
{
	color: white;
	font-family: arial;
}
.d1{
	background-color: pink
}
.d2{
	background-color: red
}