label{
	color: yellow
}
body{
	background-color: black
}
h1{
	color: yellow
}
div{
	
	width: 40%;
	margin-left: 35%;
	margin-right: 45%;
	padding:3px;
}
button{
	width: 150px;
	border-radius: 26px;
	background-color: yellow;
	padding: 15px 32px;
	margin-top: 3px;
}
button:hover
{
	color: yellow;
	background-color: black;
	border: 2px solid black;
}